# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- list some of the popular languages that data scientists use
- list some of the commonly used libraries used by data scientists
- list some of the commonly used data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. NumPy

| Data Science Tools |
| ------ | 
| RStudio |
|ApacheSpark | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Alexis Krigger